--protected
--private
--verbose
--main=README.md
--output-dir=./yardoc/
--markup-provider kramdown
--markup markdown
--title=Algebrick
--template default
--template-path ./../../public/yard-template

./lib/**/*.rb
-
LICENSE.txt
README.md
